.list__container{
    display: flex;
    flex-wrap: wrap;
}
.list__item{
    background-color: #E5E5E5;
    border-radius: 30px;
    margin: 0px 0px 18px 30px;
    padding:24px;
    width: 45vw;
}
.cartera{
    color:#FD474C;
    background-color:#323232;
    width: 60vw;
    display: block;
    margin: 0 auto 24px auto !important;
}
.cartera .item__text{
    display: flex;
    justify-content: space-between;
}
.item__text{
    display: flex;
    justify-content: space-between;
}
.item__buttons{
    display: flex;
    margin-top: 36px;
}
.button--detalles{
    width: 70%;
    margin-right: 20px;
    background: #7A7A7A;
    border-radius: 10px 10px 10px 20px;
}
.button--eliminar{
    width: 30%;
    border-radius: 10px 10px 10px 20px;
}
